
.home-page {
    height: 100vh;
    padding-top: 50px;
}

.main-content__holder {
    background-color: black;
}

.main-content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    max-width: 1024px;
    background-color: black;
    grid-template-areas: 
    "feat feat feat sub-feat"
    "feat feat feat sub-feat"
    "feat feat feat sub-feat";
}


.main-content__feature-holder {
    grid-area: feat;
    /* width: 700px; */
}

.main-content__feature {
    /* width: 700; */
    height: 400px;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main-content__feature:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.main-content__feature-description-holder {
    background-color: black;
    max-width: 270px;
    opacity: 0.5;
    padding: 7px 20px;
}

/* .main-content__feature-description-holder {
    background-color: black;
    max-width: 270px;
    opacity: 0.5;
    padding: 7px 20px;
} */

.main-content__feature-description-header {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.main-content__feature-description {
    font-size: 15px;
    color: white;
    /* color: white; */
}

.main-content__sub-feature-holder {
    grid-area: sub-feat;
    height: 400px;
}

.main-content__sub-feature {
    height: 132px;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
    /* background-color: black; */
    margin-left: 2px;
    margin-top: 2px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main-content__sub-feature:first-child {
    margin-top: 0;
}

.main-content__sub-feature:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.main-content__sub-feature-description-holder {
    background-color: black;
    /* max-width: 100px; */
    height: 40px;
    opacity: 0.5;
    padding: 7px 7px;
}

.main-content__sub-feature-description-header {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.main-content__sub-feature-description {
    font-size: 11px;
    color: white;
    /* color: white; */
}

/* REST OF CONTENT */
.rest-content__holder { 
    /* height: 100vh; */
    background-color: #EEF2F3;
}

.rest-content {
}

.discover__holder {
    background-color: white;
    height: 400px;
    padding: 90px 0 0 0;
}

.discover {
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
}

.discover__header {
    max-width: 980px;
    font-size: 14px;
    color: black;
    font-weight: 600;
    margin:0 auto 20px auto;
}

.discover__album-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.discover__album-holder:first-child {
    margin-left: 0px;
}

.discover__album {
    /* max-width: 100px; */
    height: 110px;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
    margin-bottom: 5px;
}

.discover__album-link {
    color: black;
    text-decoration: none;
}

.discover__album-link:hover {
    text-decoration: underline;
}

.discover__album-title {
    font-size: 11px;
    font-weight: 500;
    margin-left: 5px;
}

.discover__artist-name {
    color: #777777;
    font-size: 11px;
    margin-left: 5px;
    /* font-weight: 500; */
}

/* LATEST */
.latest__holder {
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    color: black;
    column-gap: 15px;
    /* background-color: black; */
}

.latest__header {
    max-width: 980px;
    font-size: 14px;
    font-weight: normal;
    color:#408EA3;
    margin: 40px auto 20px auto;
}

.latest__album-holder {
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    margin-bottom: 15px;
}

.latest__album-holder:first-child {
    margin-left: 0px;
}

.latest__album-holder:nth-child(6n) {
    margin-left: 0px;
}

.latest__album {
    min-width: 180px;
    height: 180px;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
    margin-bottom: 10px;
}

.latest__album-header {
    font-size: 12px;
    font-weight: 600;
}

:root {
  --lh: 14px;
}

.latest__description {
    font-family: Georgia, Times, serif;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: var(--lh);
    --max-lines: 7.5;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding: 0 10px;
}

.latest__description::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
    padding-right: 10px;
}

.latest__description::after {
    content: "";
    position: absolute;
    right: 0;
}

.latest__genre {
    color: #777777;
    font-size: 11px;
    display: block;
    margin-bottom: 5px;
}

.latest__album-link {
    color: black;
    text-decoration: none;
}

.latest__album-link:hover {
    text-decoration: underline;
}