* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    /* background-color: #F7F7F7; */
}

html,
body {
 height: 100%;
 position: relative;
 padding-top: 0;
}

* button {
    cursor: pointer;
    outline: none;
    border: 1px solid lightgray;
}

/* =================================================================================== */
.error-list {
    margin-left: 20px;
}

.errors {
    margin-top: 8px;
    color: red;
    font-size: 14px;
}


