

.artist-signup-form__holder {
    font-size: 16px;
    color: #333333;
    /* height: 80%; */
    display: flex;
    justify-content: center;
    background-color: white;
}

.artist-signup-form__content {
    background-color: white;
    border-radius: 7px;
    width: 40%;
    /* max-width: 550px;
    min-width: 550px; */
    width: 600px;
    padding: 0 30px;
    /* overflow: hidden; */
    padding: 30px 80px 0 80px;
    /* background-color: aqua; */
    border-top: 1px dashed lightgray;
}

.artist-signup-form__header-container {
    height: 80px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 0;
    background-color: white;
}

.artist-signup-form__header {
    font-size: 18px;
    font-weight: 500;
    flex-grow: 1;
}

.artist-signup-form {
    display: flex;
    flex-direction: column;
  }

/* .artist-signup-page__logo-holder {
    color:  #338aaa;
} */

.artist-signup-form label {
    margin: 20px 0 3px 0;
}

.artist-signup-form input {
    border: none;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 0 5px;
    outline: none;
    padding: 0 5px;
}

.artist-signup-form button {
    background-color: #42A1C6;
    color: white;
    font-size: 16px;
    font-weight: normal;
    border-radius: 5px;
    width: 200px;
    padding: 10px 0 10px 0;
    margin: 35px auto;

}

.artist-signup-form__close-btn {
    position: absolute;
    font-size: 19px;
    color: black;
    cursor: pointer;
    margin-left: 40px;
}

.artist-signup-form__close-btn:hover {
    color: black;
}