/* body {
    background-color: #F7F7F7;
} */

.album-edit-page__holder {
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    font-size: 13px;
    padding-top: 50px;
}

.album-edit-page__left-col {
    width: 500px;
    min-height: 100vh;
    padding-top: 20px;
    /* padding-bottom: 150px; */
    z-index: 9;
}

.album-edit-page__right-col {
    width: 500px;
    min-height: 100vh;
    background-color: white;
    padding: 0 15px 1000px 15px;
    border-left: 1px solid lightgray;
}

.album-edit-page__album-select {
    background-color: #F7F7F7;
    border: 1px solid lightgray;
    border-right: none;
    display: flex;
    padding: 10px 0 10px 10px;
    margin: 0 0 25px 0;
}

.album-edit-page__album-select:hover {
    background-color: white;
    cursor: pointer;
    margin-right: -1px;
}

.active {
    background-color: white;
    margin-right: -1px;
}

.album-edit-page__album-placeholder {
    width: 150px;
    height: 150px;
    border: 1px dashed lightgray;
    display: flex;
    flex-direction: column;
    font-size: 12px;;
    align-items: center; 
}

.album-edit-page__album-placeholder span{
    color: darkred;
    margin: 35px 0 10px 0;
}

.album-edit-page__album-art {
    width: 150px;
    height: 150px;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;  
    display: flex;
    justify-content: flex-end;
    /* border: 1px dashed lightgray; */
}

/* .album-edit-page__album-art {
    object-fit: cover;
    width: 152px;
    height: 152px;
} */

.album-edit-page__artwork-delete-btn {
    color: red;
    font-size: 14px;
    line-height: 14px;
    background-color: black;
    width: 18px;
    height: 18px;
    text-align: center;
    padding: 2px 0;
    border: none;
}

.album-edit-page__artwork-delete-btn:hover {
    color: white;

}

.album-edit-page__album-details-holder {
    font-size: 11px;
    margin-left: 10px;
}

.album-edit-page__album-details-holder h4 {
    font-size: 20px;
    font-weight: 500;
}

.album-edit-page__album-details-holder span {
    font-size: 11px;
    font-weight: bold;
}

.album-edit-page__add-track-btn {
    font-size: 18px;
    color: #41A0C3;
    border: none;
    background-color: transparent;
    margin-top: 20px;
    position: relative;
    animation-name: add-track-animation;
    animation-duration: 0.5s;
}
  
@keyframes add-track-animation {
    0%   {left:-200px; top:0px; opacity: 0}
    100% {left:0px; top:0px;}
  }

.fa-arrow-right {
    color: #41A0C3;
}

.album-edit-page__tracks-header {
    font-size: 13px;
    font-weight: bold;
    color: gray;
    margin-bottom: 10px;
}

.album-edit-page__track-select {
    height: 70px;
    border: 1px dashed lightgray;
    border-right: none;
    display:flex;
    align-items: center;
    padding-left: 30px;
    font-size: 15px;
    line-height: 15px;
}

.album-edit-page__track-select:hover {
    background-color: white;
    cursor: pointer;
}

.album-edit-page__add-track-text {
    font-size: 18px;
    color: #3187F5;
    font-weight: bold;
}

.album-edit-page__add-track-text:hover {
    text-decoration: underline;
}

.album-edit-page__progress-bar-holder {
    font-size: 12px;
    width: 300px;
    margin-left: 40px;
}

.album-edit-page__progress-bar-holder span {
    color: darkred;
}

.album-edit-page__track-holder {
    height: 70px;
    border: 1px dashed lightgray;
    border-bottom: none;
    border-right: none;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    font-size: 15px;
}

.album-edit-page__track-holder:hover {
    background-color: white;
    cursor: pointer;
}

.album-edit-page__track-holder span {
    color: gray;
    margin-right: 5px;
}

/* .album-edit-page__track-title {

} */

.album-edit-page__track-delete-btn {
    border: none;
    color: darkred;
    font-size: 12px;
    font-weight: 600;
    background-color: transparent;
    margin-right: 30px;
}

.album-edit-page__track-delete-btn:hover {
    text-decoration: underline;
}

.album-edit-page__album-detail-form {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin-top: 50px;
}

.album-edit-page__album-detail-form input {
    outline: none;
    border: 1px solid lightgray;
}

.album-edit-page__album-detail-form textarea {
    outline: none;
    border: 1px solid lightgray;
}

.album-edit-page__album-detail-form label:first-child{
    font-weight: bold;
    /* margin-top: 0; */
}

.album-edit-page__album-title-label {
    font-weight:bold;
    margin-bottom: 5px;
}

.album-edit-page__album-title-input {
    height: 35px;
    padding: 0 5px;
    margin-bottom: 20px;
}

.album-edit-page__album-detail-form label {
    /* margin: 18px 0 5px 0; */
    margin-bottom: 5px;
}

.album-edit-page__upload-input {
    padding: 5px 5px;
    margin-bottom: 25px;
    border: 1px solid lightgray
}

.album-edit-page__upload-input::-webkit-file-upload-button {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

.album-edit-page__upload-input::before {
    content: 'Choose a file';
    display: inline-block;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 4px 7px 5px 7px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    color: black;
    font-weight: 500;
    font-size: 11px;
    background-color: #d6d6d6

    /* background: -webkit-linear-gradient(top, #41A0C3, #59b5d6); */
}

.album-edit-page__upload-input:hover::before {
    border-color: #6b6767;

}
.album-edit-page__upload-input:active::before {
    background-color: #7f7f7f;
    outline: none;
}

.album-edit-page__album-detail-form textarea{
    height: 100px;
    margin-bottom: 20px;
    padding: 5px 5px;
    outline: none;
}

.album-edit-page__submit-btn {
    background-color: #41A0C3;
    border: 1px solid lightgray;
    color: white;
    border-radius: 4px;
    width: 70px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0 5px 0;

}

.album-edit-page__submit-btn:hover {
    border: 1px solid #6b6767;
}

.album-edit-page__submit-btn:active {
    background-color: #178bb5;
}

.album-edit-page__edit-btn {
    background-color: #41A0C3;
    border: 1px solid lightgray;
    color: white;
    border-radius: 4px;
    width: 55px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0 5px 0;

}

.album-edit-page__edit-btn:hover {
    border: 1px solid #6b6767;
}

.album-edit-page__edit-btn:active {
    background-color: #178bb5;
}

.album-edit-page__submit-instruction {
    margin: 0 0 5px 2px;
    color: #E34E5A;
    font-weight: 500;
}

.album-form-errors__holder {
    margin: 0 0 25px 17px;
}

.album-form-errors {
    color: red;
}

.album-edit-page__track-form {
    display: flex;
    flex-direction: column;
}

label.album-edit-page__track-title-input {
    font-size: 13px;
    font-weight: bold;
}

.album-edit-page__track-form input {
    padding: 5px 5px;
    margin: 5px 0 20px 0;
    border: 1px solid lightgray;
    outline: none;
}

.track-form-errors__holder {
    margin: 0 0 25px 17px;
}

.track-form-errors {
    color: red;
}

.album-edit-page__publish-message {
    font-weight: bold;
    display: block;
    margin: 20px 0 5px 0;
}

.album-edit-page__publish-btn {
    background-color: #F18A74;
    border: 1px solid lightgray;
    color: white;
    border-radius: 4px;
    /* width: 55px; */
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
}

.album-edit-page__publish-btn:hover {
    border: 1px solid #6b6767;
}

.album-edit-page__publish-btn:active {
    background-color: #e55b40;
}
